body {
    background-color: lightgray;
}

h1 {
     color: rgb(52, 4, 107);
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
     font-size: 16
}

h3 {
     color: rgb(52, 4, 107);
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}

img {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

p {
   font-family: sans-serif;
   font-size: 12
}

.container {
  background-color: white;
}

.navbar {
          background-color: white;
          padding-left: 50px;
}

.navbar-brand {
               background-color: darkblue;
               font-family: Calibri;
               font-weight: bold;
               font-size: 30;
               color: white;
}

/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
  .navbar {
    img {
      padding-top: 0px;
      padding-right: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
  }
}

  .navbar-brand {
                 background-color: white;
                 font-family: times new roman;
                 font-weight: bold;
                 color: rgb(12, 173, 167);
}
}
